<!DOCTYPE html>
<html>
<head>
</head>
<body>

	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Email</th>
				<th>Fecha Nacimiento</th>
				<th>Dirección Postal</th>
				<th>Nacionalidad</th>
				<th>Número Identificativo</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="atribute : ${atributes}">
				<td th:text="${atribute.nombre}" />
				<td th:text="${atribute.apellidos}" />
				<td th:text="${atribute.email}" />
				<td th:text="${atribute.fechaNacimiento}" />
				<td th:text="${atribute.direccionPostal}" />
				<td th:text="${atribute.nacionalidad}" />
				<td th:text="${atribute.numeroIdentificativo}" />
			</tr>
		</tbody>
	</table>
</body>
</html>